@charset "UTF-8";

/* Gerais */

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.navbar{
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.301);
}

/* MAIN */

.carousel-inner{
    max-height: 620px;
}

/* FOOTER */

#footer{
    background-color: rgb(41, 41, 41);
    color: white;
}